/* Chỉ áp dụng cho trang login */
.login input:-webkit-autofill,
.login input:-webkit-autofill:hover,
.login input:-webkit-autofill:focus,
.login input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px rgb(1, 1, 1) inset !important;
  -webkit-text-fill-color: #fff !important;
  caret-color: #fff;
  transition: background-color 9999s ease-in-out 0s;
}


body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;

}

.login {
  background: #e9e9e9;
  height: 700px;
}


.loginbox {
  width: 35%;
  padding: 40px;
  transform: translate(90%, 23%);
  background: rgb(1, 1, 1);
  box-sizing: border-box;
  /* box-shadow: 0 15px 25px rgba(0,0,0,.6); */
  border-radius: 14px;
}



.loginbox h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}


.loginbox .userbox input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.loginbox .userbox label {

  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.loginbox .userbox input:focus~label,
.loginbox .userbox input:valid~label {
  top: -20px;
  left: 0;
  color: #ffffff;
  font-size: 12px;
}

.loginbox form .submit {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  background: none;
  color: white;
  border: 2px solid #fff;
  font-size: 19px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 10px;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
  
}

.login button {
  border: none;
}


.loginbox form .submit:hover {
  background: white;
  color:black;
  box-shadow: 0 0 12px ;
  letter-spacing: 5px;
  cursor: pointer;
}



.loginbox .submit {
  position: absolute;
  display: block;
}