.user-accounts__title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #1f1f1f;
}



.user-accounts__header {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 16px;
}

.user-accounts__right {
  display: flex;
  gap: 8px;
}
