.header{
    display: flex;
    background: white;
}

.header__logo{
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #ddd;
    transition: all 0.2s;
}

.header__logo-collapsed{
    width: 80px;
    transition: all 0.2s;
}

.header__nav{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
}

.header__collapse {
    font-size: 20px;
    margin-right: 20px;
    cursor: pointer;
}

.header__right {
  display: flex;
  align-items: center;
  gap: 16px; 
  margin-right: 10px;             
}


.header__avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.sider{
    border-top: 1px solid #ddd;
}

.content{
   padding: 20px;
   
}


.admin-dropdown__profile {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 16px 8px 16px;
}

.admin-dropdown__name {
  font-weight: 600;
}

.admin-dropdown__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px;
}

.admin-dropdown__item:hover {
  background-color: #f5f5f5;
}

.admin-dropdown__arrow {
  color: #bfbfbf;
}